body {
    font-family: sans-serif;
    margin-top: 15px;
    background-color:whitesmoke;
}

h2 {
    font-size: big;
    text-align: center;
}

p {
    margin-left: 50px;
}

ul {
    margin-left: 35px;
}